[class*="content"] [class*="scrollerSpacer"] {
    height: 32px;
}

[class*="members"] [class*="childContainer"] {
    padding-left: 0%;
    padding-right: 0%;
}

[class*="folderPreview"] > [class*="folderPreviewGuildIcon"] {
    border-radius: 50% !important;
}

[class*="trailing"] > a {
    display: none !important;
}

[class*="h5"], [class*="jumpToPresentBar"] {
    text-transform: none;
}
